@inherits LayoutComponentBase

<section class="section is-pulled-right">
    <UserSelector/>
    <Button Type="ButtonType.Link" To="/">
        <span class="icon">
            <Icon Name="IconName.Home"/>
        </span>
    </Button>
</section>

<section class="section">
    <div class="container">
        @Body
    </div>
</section>
