@foreach (var sum in Round.Sums)
{
    <QuizSum Sum="@sum" ShowResult="@Round.ShowResults"/>
}

@if (Round.ShowResults)
{
    @if (Round.Sums.Any(s => !s.Correct))
    {
        <p class="notification">Bijna goed, verbeter je fouten om door te gaan!</p>
        <button class="button is-large is-link" @onclick="Check">Controleren</button>
    }
    else
    {
        <p class="notification is-success is-light">Goed gedaan! Klik op de groene knop om door te gaan!</p>
        <button class="button is-large is-success" @onclick="Done">Volgende ronde</button>
    }
}
else
{
    <button class="button is-large is-link" @onclick="Check">Controleren</button>
}

@code {

    [Parameter]
    public EventCallback Check { get; set; }

    [Parameter]
    public EventCallback Done { get; set; }

    [Parameter]
    public Round Round { get; set; }

}