<p class="is-size-2">
    <span>@Sum.A</span>
    <span class="o">×</span>
    <span>@Sum.B</span>
    <span class="o">=</span>
    <span>
        <input type="text" inputmode="numeric" class="input is-large @InputClass" @oninput="Change" @ref="_input"/>
    </span>
</p>

@code {

    [Parameter]
    public bool ShowResult { get; set; }

    [Parameter]
    public Sum Sum { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    private ElementReference _input;

    private string InputClass =>
        ShowResult && Sum.Correct ? "is-success" : "";

    private async Task Change(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out var newValue))
            Sum.UserAnswer = newValue;

        await OnChange.InvokeAsync();
    }

    public async Task Focus()
    {
        await _input.FocusAsync();
    }

}
