@foreach (var sum in Round.Sums)
{
    @if (sum == Round.Sums.FirstOrDefault(s => !s.Correct))
    {
        <QuizSum @key="sum" Sum="@sum" ShowResult="@Round.ShowResults" @ref="_firstSum"/>
    }
    else
    {
        <QuizSum @key="sum" Sum="@sum" ShowResult="@Round.ShowResults"/>
    }
}

@if (Round.ShowResults)
{
    @if (Round.Completed)
    {
        @ChildContent
    }
    else
    {
        <p class="notification">Bijna goed, verbeter je fouten om door te gaan!</p>
        <button class="button is-large is-link" @onclick="Check">Controleren</button>
    }
}
else
{
    <button class="button is-large is-link" @onclick="Check">Controleren</button>
}

@code {

    [Parameter]
    public EventCallback Check { get; set; }

    [Parameter]
    public Round Round { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    private QuizSum _firstSum;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Round.Completed && _firstSum is not null)
            await _firstSum.Focus();
    }

}