<p class="is-size-2">
    <span>@Sum.A</span>
    <span class="o">×</span>
    <span>@Sum.B</span>
    <span class="o">=</span>
    <span>
        <input type="text" inputmode="numeric" class="input is-large @InputClass" @bind="Sum.UserAnswer"/>
    </span>
</p>

@code {

    [Parameter]
    public bool ShowResult { get; set; }

    [Parameter]
    public Sum Sum { get; set; }

    private string InputClass =>
        ShowResult && Sum.Correct ? "is-success" : "";

}