<div class="field buttons are-large">
    <p class="control">
        @for (var i = 1; i < 13; i++)
        {
            var buttonNumber = i;
            var css = _selectedTables.Contains(buttonNumber) ? "button is-info" : "button";
            <button class="@css" @onclick="_ => Toggle(buttonNumber)">
                @buttonNumber
            </button>
        }
    </p>
</div>

@code {
    private List<int> _selectedTables = new();

    [Parameter]
    public EventCallback<List<int>> OnChange { get; set; }

    [Parameter]
    public bool Single { get; set; }

    void Toggle(int table)
    {
        if (Single)
        {
            _selectedTables = new List<int> { table };
        }
        else
        {
            if (_selectedTables.Contains(table))
            {
                _selectedTables.Remove(table);
            }
            else
            {
                _selectedTables.Add(table);
            }

            _selectedTables.Sort();
        }

        OnChange.InvokeAsync(_selectedTables);
    }

}