@page "/"

<h2 class="title">
    Wat wil je doen?
</h2>

<div class="mb-5">
    <Button Type="ButtonType.Link" Size="Size.Large" To="/Mixed">
        Tafels door elkaar
    </Button>
    <Button Type="ButtonType.Link" Size="Size.Large" To="/Single">
        Eén tafel op volgorde
    </Button>
</div>

<footer>
    <p>
        © Martijn Storck
        &lt;<a href="mailto:martijn@storck.io">martijn@storck.io</a>&gt;<br/>
        Powered by Blazor WebAssembly<br />
        <a href="https://github.com/martijn/tafels/tree/main/Tafels">Source op GitHub</a>
    </p>
</footer>
