@page "/"

<h1 class="title">
    Tafels oefenen
</h1>
<p class="subtitle">
    Oefen de tafels van 1 t/m 12 in je eigen tempo!
</p>

<p>
    …
</p>

<h2 class="title">
    Wat wil je doen?
</h2>

<div class="buttons are-large">
    <NavLink class="button" href="/Mixed">
        Tafels door elkaar
    </NavLink>
</div>