@page "/"

<h1 class="title">
    Tafels oefenen
</h1>
<p class="subtitle">
    Oefen de tafels van 1 t/m 12 in je eigen tempo!
</p>

<h2 class="title mt-5">
    Wat wil je doen?
</h2>

<div class="buttons are-large">
    <NavLink class="button" href="/Mixed">
        Tafels door elkaar
    </NavLink>
    <NavLink class="button" href="/Single">
        Eén tafel op volgorde
    </NavLink>
</div>

<footer>
    <p>
        © Martijn Storck
        &lt;<a href="mailto:martijn@storck.io">martijn@storck.io</a>&gt;
    </p>
    <p>
        Gemaakt met Blazor WebAssembly (ASP.NET Core) <a href="https://github.com/martijn/tafels/tree/main/Tafels">Source op GitHub</a>
    </p>
</footer>